.logo {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;

  @include MQ(mobile) {
    & + .main-nav .main-nav__wrapper {
      margin-top: 20px;
    }
  }

  @include MQ(tabletPlus) {
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -18px;
  }
}
