.modal-size {

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .modal-size__type {
    border-color: $accdent-color;
  }

  button {
    border: none;
    background: $accdent-color;
    color: #fff;
    margin-top: 45px;
    padding: 15px 0;
  }

  legend {
    margin-bottom: 40px;
  }
}

.modal-size__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.modal-size__type {
  padding: 12px 35px;
  border: 2px solid #ececec;
  font-size: 17px;
  font-weight: bold;
}
